.nav{
  margin : 0;
  padding: 0;
  height: 80px;
  list-style-type: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
  font-weight: bolder;
  font-family: 'Raleway', bold;
  /* margin-block-start : 1em;
  margin-block-end : 1em;
  padding-inline-start: 40px; */
  box-shadow: 0px 4px 10px 0px rgba(119, 119, 119, 0.30);
-moz-box-shadow: 0px 4px 10px 0px rgba(119, 119, 119, 0.30);
-webkit-box-shadow: 0px 4px 10px 0px rgba(119, 119, 119, 0.30);
}

ul{
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
  text-transform: lowercase;

}

.ou{
  color: red;
}

.exo0{
  display: flex;
	flex-direction: row;
	justify-content: center ;
  align-items: center;
}

.exo{
  text-align: center;
}

.info{
  font-family: 'Raleway';
  font-size: 0.8em;
  text-align: center;
}

.voila{
  font-family: 'Raleway';
  font-size: 1em;
  text-align: center;
  padding-top: 5%;
  line-height: 45px;
}

h1{
  padding-top: 10%;
  font-family: 'Raleway';
  font-size: 2em;
  text-align: center;
}

select{
  height: 50px;
}

.bouton{
  height: 50px;
  width: 80px;
}

em{
  color: red;
}
