*{
  margin: 0;
  padding: 0;
  font-family: 'Raleway';
}

body{
  height: 200vh;
  position: relative;
  overflow-x : hidden; /* cache le surplus à droite*/
}

header{
  position: absolute;
  z-index: 0;
  width: 100vw;
}
  #nav{
    margin : 0;
    padding: 0;
    min-width: 100%;
    height: 80px;
    list-style-type: none;
  	display: flex;
  	flex-direction: row;
  	flex-wrap: wrap;
  	justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: 'Raleway', bold;
    box-shadow: 0px 4px 10px 0px rgba(119, 119, 119, 0.30);
  -moz-box-shadow: 0px 4px 10px 0px rgba(119, 119, 119, 0.30);
  -webkit-box-shadow: 0px 4px 10px 0px rgba(119, 119, 119, 0.30);
  }

.scrolled{
  position: fixed;
  width: 100%;
}

.scrolled .logo{
  display: none;
}

#what{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 90vh;
  transform: translateX(100vw);
  transition: transform 700ms;  /*On transition en 700 miliseconde*/
}

#nav2{
  width: 40vh;
  display : flex;
  flex-direction : column;
  justify-content : space-around;
  align-items : center;
  box-shadow: 0px 0px 0px 4px rgba(119, 119, 119, 0.30);
-moz-box-shadow: 0px 0px 0px 4px rgba(119, 119, 119, 0.30);
-webkit-box-shadow: 0px 0px 10px 1px rgba(119, 119, 119, 0.30);
 }

 #what.visible{
  transform: translateX(0vw);
  transition: transform 700ms;

}

.burger{
  width: 30px;
  height: 30px;
  max-width : 100%;
  max-height : 100%;
  z-index: 1;
  background-image: url(../assets/menu.png);
  background-size: cover;
}

.ou{
  color: red;
}

.exo0{
  display: flex;
	flex-direction: row;
	justify-content: center ;
  align-items: center;
}

.exo{
  text-align: center;
}

.info{
  font-size: 0.8em;
  text-align: center;
}

.voila{
  font-size: 1em;
  text-align: center;
  padding-top: 5%;
  line-height: 45px;
}

h1{
  padding-bottom: 5%;
  font-size: 2em;
  text-align: center;
}

select{
  height: 50px;
}

.bouton{
  height: 50px;
  width: 80px;
}

em{
  color: red;
}

.coucou{
  /* position: absolute; */
display: flex;
justify-content: center;
flex-direction: column;
height: 100vh;
}
